
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "node_modules/bootstrap/scss/bootstrap.scss";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

.fa {
	color: white;
}

#maincontent {
    background-image: url(https://unsplash.com/photos/f5Fx_B3Qc4o);
    background-image-opacity: .5; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}